---
layout: handbook-page-toc
title: Product Manager Responsibilities
description: >-
  This page highlights the focus of a product managers job, responsibilities and
  required tasks at GitLab.
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

<%= partial("handbook/product/product-handbook-links") %>

It has never been more [popular](https://medium.com/agileinsider/incredible-growth-in-demand-for-product-managers-in-the-us-but-not-necessarily-in-the-places-youd-936fec5c1932) to be a product manager,
but the responsibilities of a product manager can vary greatly between organizations and even within an organization.

<%= partial 'includes/pm_responsibilities' %>
<!-- update in /source/includes/_pm_responsibilities.erb -->

## Core PM Tasks

In an ongoing effort to help product managers be more efficient and maximize time spent on high value activities in alignment with [core PM responsibilities](#core-pm-responsibilities), below is a list to clarify what actions are **required** for product managers. Over time, our goal is to eliminate and automate any actions product managers currently have to do (due to tactical needs) that do not directly link to the core PM responsibilities defined above.

| Task | Description |
| Maintain and update [Direction pages](https://about.gitlab.com/direction/#devops-stages) | Direction pages communicate our [vision](https://about.gitlab.com/direction/) and plan externally and internally. |
| Review PIs and update [PI pages](https://about.gitlab.com/handbook/product/performance-indicators/) | Product Indicators are how we know whether or not we are making the right investments or measuring the right thing. PMs should be intimately knowledgeable with the PIs in their domain. |
| Release planning for every milestone | PMs are the DRIs for planning and [prioritizing](https://about.gitlab.com/handbook/product/product-processes/#prioritization-ahead-of-kickoff) the work for their respective development group. Some of the output for release planning can be planning issues and [kick-off](https://about.gitlab.com/handbook/product/product-processes/#kickoff-meetings) videos. |
| Create [release post content](https://about.gitlab.com/handbook/product/product-processes/#release-posts) | The release post is the way to broadcast what features have been released. PMs are responsible to ensure release post item MRs are created, reviews are complete and posted.
| Drive alignment with stable counterparts via [OKRs](https://about.gitlab.com/handbook/product/product-processes/#objectives-and-key-results-okrs) | PMs play a role in facilitating alignment by ensuring individual functional groups' objectives are appropriately prioritized within their development group. |
| Connect user and customer insights with [product prioritization](https://about.gitlab.com/handbook/product/product-processes/#issues-important-to-customers) | Customer interviewing, collecting insights about customer adoption, pain points, and reprioritizing "What's Next". PMs are responsible for continuously refining the most important feature, bugs, and tech debt to ensure relevance to the market, install base, and expansion. |
| [Triage new issues](https://about.gitlab.com/handbook/product/product-processes/#prioritization) (features, bugs, security vulnerabilities, etc) | PMs [share responsibility](/handbookcross-functional-prioritization#prioritization-for-feature-maintenance-and-bugs) for prioritizing the most important issues based on [work type](/handbook/engineering/metrics/#work-type-classification). |
| Determine [pricing tier for features](https://about.gitlab.com/company/pricing/) | [The CEO is responsible for pricing, but PMs are responsible for determining which plan features belong to.](https://about.gitlab.com/company/pricing/#departments) |

## What is a PM not responsible for?

To deeply understand the problems to solve, to build a lovable product, and to ensure the product is viable is not easy. It requires the Product Manager to be tenacious, influential, technically savvy, entrepreneurial, strategic, and many more adjectives. To support Product Managers, many processes and activities have been created. However, those activities are not always necessary if they do not contribute to the [core PM responsibilities](#core-pm-responsibilities) or are not part of the [core PM tasks](#core-pm-tasks).

Product Managers are not responsible for:

- Technical decisions on how the product is built or architected. Engineers are the DRIs
- [Relative prioritization of bugs or maintenance issues](/handbook/cross-functional-prioritization#prioritization-for-feature-maintenance-and-bugs). Quality Engineering Managers and Engineering Managers are the respective DRIs.
- Design and UX. Product Designers are the DRIs
- A team of engineers: PMs will take the lead in decisions about the product, but not manage the people implementing it
- Capacity planning: PM will define priorities, but the Engineering Manager and Product Design Manager evaluates the amount of work possible
- Shipping in time: PM will work in a group, but the group is responsible for shipping in time, not you
- [Negotiation of Community Contributions](https://about.gitlab.com/handbook/product/product-processes/#gitlab-pms-arent-the-arbiters-of-community-contributions)

## Adding to or updating the Product Manager responsibilities page

This page is the SSOT for a product manager's role at GitLab and is also linked to [product managers job families](https://about.gitlab.com/job-families/product/product-manager/). As such we need to follow a more strict change management policy. We want the product manager role to remain clear, stable and focused. This enables the product team to understand and meet the expectations of the role consistently.

For all MRs, please apply `milestone` and labels `product operations` `product handbook` and `prodops:release` so your changes show up in the product handbook [updates page](/handbook/product/handbook-updates/). Please assign to [Product Operations](https://about.gitlab.com/company/team/#fseifoddini) to approve and merge. Product Operations will then add the [VP of Product](https://gitlab.com/david) and any other product team stakeholders as appropriate, as well as apply this **required** [approval flow](/handbook/hiring/job-families/#approval-flow), if necessary.
